appdirs==1.4.4
attrs==21.4.0
cocotb==1.6.2
colorama==0.4.5
edalize==0.3.3
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
PyYAML==6.0
teroshdl==2.1.2
tomli==2.0.1
vsg==3.11.0
vunit-hdl==4.6.0
wasmtime==0.30.0
yowasp-yosys==0.19.dev381
